README.md
Makefile
node_modules
dist
bin
tmp
internal/static/css/tailwind.css
*.log
*.tmp
*.env
.DS_Store
.vscode
.idea
*.swp
*.swo
coverage
*.bak
*.old
*.backup
*.cache
*.pid
*.seed
*.gzip
*.tar
*.zip
*.rar
*.7z
*.exe
*.exe~
*.so
*.dll
*.dylib